body{
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #07356580;
}
.logo{
    margin-top: 20px;
    position: relative;
  animation: mymove,pulso 3s alternate 
  


}
@keyframes mymove {
    from {left: -300px;}
    to {left: 10px;}
  }

@keyframes pulse {
    15%{
      transform: scale(1);
    
    }
    40%{
      transform: scale(1.2);
    
    }
    80%{
      transform: scale(1);
    
    }
}
.sociales{
    margin-top: -25px;
}
nav{
    text-align: center;
    background-color: #F5AC22;
    height: 40px;
}
ul{
    margin: 0px;
    padding-top: 10px;
}
nav ul li{
    display: inline;
    padding: 10px 10px 10px 10px;
}
nav ul li:hover{
    background-color: aquamarine;
    padding: 10px 10px 10px 10px;

}
nav ul li a{
    text-decoration: none;
    color: #073565;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    
}
nav ul li a:hover{
    color:white;
    text-shadow: 1px 1px 1px black;
}
section{
    display:flex;
    flex-flow: wrap;
}
article{
    padding: 10px;
    border: 2px solid #073565;
    margin: 15px;
    flex: 20%;
}
.imagen{
    text-align: center;
}
.imagen img{
    width: 200px;
}
.imagen img:hover{
    transform: rotate(5deg) scale(1.2);
    filter: none;
    filter:brightness(500%)
}

